<nav><%= render partial: "./shared/merch_links" %></nav>
<h1> Update <%= @item.name%> </h1>
<div class = "update_item_form">
<%= render partial: "form", locals: {model: @item, url:merchant_item_path(@merchant, @item), method: :patch } %>
</div>
