<h2>Admin Dashboard</h2>

<%= button_to  "Admin Dashboard", "/admin", method: :get%>
<%= button_to  "Admin Merchants", "/admin/merchants", method: :get %>
<%= button_to "Admin Invoices", "/admin/invoices", method: :get %>
